<h2>On The Web</h2>
<ul class="link-list">
    <li><a target="_blank" href="https://orcid.org/0000-0001-7875-2876">ORCiD 0000-0001-7875-2876</a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/andrew-macgillivray-agjm/">LinkedIn</a></li>
    <li><a target="_blank" href="https://github.com/amacgillivray">GitHub</a></li>
    <li><a target="_blank" href="https://www.flickr.com/people/202502130@N06/">Flickr</li>
    <!-- <li><a target="_blank" href="https://scholar.google.com/citations?user=aDp43o4AAAAJ">Google Scholar</a></li> -->
</ul>
